 * {
    margin: 0;
    padding: 0;
 }

 .form {
    border: 1px solid gray;
    width: 350px;
    padding: 15px;
    margin: 14px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
 }
 .form_titel {
    width: 100%;
    margin: 15px 0;
    padding-left: 10px;
 }

 .form_input {
    width: 306px;
    margin: 2px 0;
    padding: 14px 15px;
    border: 1px solid gray;
    border-radius: 10px;
 }

 .form_restore_pas {
    margin: 20px 0;
    color: gray;
    font-size: 15px;
    padding-left: 50%;  /* Можно ли так??? чтобы выравнивание было по
    правому краю */

 }

 .form_btn {
    width: 100%;
    margin: 2px 0;
    padding: 14px 24px;
    border-radius: 55px;
    font-size: 20px;
    font-weight: bold;
    }

    .submit_btn {
      background-color: yellow;
      border: 1px transparent;
    }
    .redirect_btn {
      background-color: white;
      border: 1px solid gray;
      
    }
    .form_crocs {
      font-size: 20px;
      position: absolute;
      top: 20px;
      right: 20px;
    }